p {
  background-color: rgb(255, 167, 167);
  font-family: Verdana, Tahoma, sans-serif;
}

#num2 {
  color: blue;
  font-size: 36px;
}

.number:nth-child(3) {
  font-size: 24px;
}

div:nth-child(4) {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 24px;
  font-weight: bold;
  background-color: lawngreen;
}

.click,
.noclick {
  font-size: 28px;
  font-family: Helvetica, "Times New Roman", Times, serif;
}

.click {
  background-color: black;
  color: white;
}

.noclick {
  background-color: yellow;
  color: black;
}

.katho-mut,
.andrea-pia {
  width: 200px;
  height: 400px;
}
